.button{
  display: flex;
  justify-content: center;
  align-items: center; 
}

.startTime_button{
  border-radius: 50%;
  display: inline-block;
  width: 100%;
  height:100%;
  margin: 20px;
  position: relative;
  color: #FFFFFF	; 
  background:#3333FF; 
  padding: 1em 2em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  font-size: 30px;
}

.endTime_button{
  border-radius: 50%;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 20px;
  position: relative;
  color: #FFFFFF	; 
  background: #FF3333	; 
  padding: 1em 2em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  font-size: 30px;
}

.startTime_button:hover{
  color: #fff;
  background: #0033CC;
}

.endTime_button:hover{
  color: #fff;
  background: #CC3333;
}

.container_clock{
  width: 100%;
  height: 10vh;
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  display:flex;
  flex-flow: column;
  justify-content:space-around;
}

#date{
font-family: 'Open Sans', sans-serif;
color: #070808;
font-size: 25px;
line-height: 1.2;
text-align: center;
}
#currentTime{
font-family: 'Open Sans', sans-serif;
color: #070808;
font-size: 80px;
line-height: 1.2;
text-align: center;
}

/* iphone用 */
@media only screen and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
  .button{
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  .startTime_button{
    border-radius: 50%;
    display: inline-block;
    width: 100%;
    height:100%;
    margin: 20px;
    position: relative;
    color: #FFFFFF	; 
    background:#3333FF; 
    padding: 1em 2em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
  }

  .endTime_button{
    border-radius: 50%;
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 20px;
    position: relative;
    color: #FFFFFF	; 
    background: #FF3333	; 
    padding: 1em 2em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
  }

  .startTime_button:hover{
    color: #fff;
    background: #0033CC;
  }

  .endTime_button:hover{
    color: #fff;
    background: #CC3333;
  }

  .container_clock{
    width: 100%;
    height: 10vh;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    display:flex;
    flex-flow: column;
    justify-content:space-around;
  }

#date{
  font-family: 'Open Sans', sans-serif;
  color: #070808;
  font-size: 25px;
  line-height: 1.2;
  text-align: center;
}
#currentTime{
  font-family: 'Open Sans', sans-serif;
  color: #070808;
  font-size: 80px;
  line-height: 1.2;
  text-align: center;
}}

/* ipad用 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .button{
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  .startTime_button{
    border-radius: 100%;
    display: inline-block;
    width: 20%;
    height:100%;
    margin: 30px;
    position: relative;
    color: #FFFFFF	; 
    background:#3333FF; 
    padding: 1em 2em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
  }

  .endTime_button{
    border-radius: 100%;
    display: inline-block;
    width: 20%;
    height: 100%;
    margin: 30px;
    position: relative;
    color: #FFFFFF	; 
    background: #FF3333	; 
    padding: 1em 2em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
  }

  .startTime_button:hover{
    color: #fff;
    background: #0033CC;
  }

  .endTime_button:hover{
    color: #fff;
    background: #CC3333;
  }

  .container_clock{
    width: 100%;
    height: 10vh;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    display:flex;
    flex-flow: column;
    justify-content:space-around;
  }

#date{
  font-family: 'Open Sans', sans-serif;
  color: #070808;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}
#currentTime{
  font-family: 'Open Sans', sans-serif;
  color: #070808;
  font-size: 100px;
  line-height: 1.2;
  text-align: center;
}}



  